{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

	
	

	<div class="form register">
	<h1> S'inscrire</h1>
		{{form_start(userForm)}}
		    {{form_widget(userForm)}}
		    <button>Valider</button>
		{{form_end(userForm)}}
	</div>
	
{% endblock %}