{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<section id="banner">
		<div class="banner_content">
			<div class="parag">
				<p class="firstp"><strong>Bienvenue sur Les Trésors des Temps Passés,</strong> votre destination incontournable pour découvrir des parapluies et ombrelles anciens, de collection, et d’exception. Passionnés par les objets rares et précieux, nous vous offrons une sélection unique de pièces datant de plusieurs siècles, soigneusement choisies pour leur histoire, leur élégance et leur savoir-faire artisanal.</p>
				<p class="secondp">Chaque parapluie et chaque ombrelle que nous proposons est une œuvre d'art à part entière. Que vous soyez un collectionneur aguerri, un amateur d’objets vintage ou simplement un passionné de belles pièces, vous trouverez sur notre site des accessoires d’une grande rareté, fabriqués à une époque où chaque détail comptait.</p>
			</div>
			<h1 class="slogan" >"Découvrez l'élégance intemporelle des parapluies et ombrelles de collection."</h1>
		</div>
	</section>


	
	<article>
		{% for umbrella in umbrellas %}
			<div class="container">
				<img src={{asset('images/' ~ umbrella.imageName )}} alt="Image parapluie/ombrelle">
				<h3>{{umbrella.title}}</h3>
				<p><strong>Description : </strong>{{umbrella.description|slice(0, 30)~"..."}}</p>
				<a href={{path('view',{id: umbrella.id})}}>Voir plus...</a>
			</div>
		{% endfor %}	
	</article>
	
	
{% endblock %}
