{% extends 'base.html.twig' %}

{% block title %}Parapluie{% endblock %}

{% block body %}
	<h1>Modifier: Ajouter</h1>
	{{form_start(umbrellaform)}}
		{{form_widget(umbrellaform)}}
		<button>Modifier: Ajouter</button>
	{{form_end(umbrellaform)}}

{% endblock %}
