{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
	{{form_start(resetForm)}}
		{{form_widget(resetForm)}}
		<button>Envoyer</button>

	{{form_end(resetForm)}} 	
{% endblock %}
