@use "../abstract/variable" as v;
@use "../abstract/mixin" as m;

@font-face {
      font-family:lato;
      src: url(../../../public/font/Lato/Lato-Regular.ttf);
}

@font-face {
	font-family:merri;
	src: url(../../../public/font/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
	font-family:sacra;
	src: url(../../../public/font/Sacramento/Sacramento-Regular.ttf);
}

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: v.$textFont;
    color: v.$textColor;

}
h1,h2,h3,h4,h5,h6 {
	font-family: v.$titleFont;
	color: v.$titleColor;
}

main{
    
    @include m.flex(column,center,center);
}

