@use "../abstract/variable" as v; 
@use "../abstract/mixin" as m; 

.form{
	background-image: url(/public/images/Capture\ d’écran\ 2025-01-15\ 114928.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 85vh;
	filter: sepia(0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5em;


}