{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}

	<form class="form contact" method="POST" action="">
	<h1>Contact</h1>
		<p>
			<input class="contactform" type="text" name="username" id="username" placeholder="Votre nom" size="30" maxlength="20">
		</p>
		<p>
			<input class="contactform" type="email" name="mail" id="mail" placeholder="Votre adresse mail" size="30" maxlength="20">
		</p>
		<p>
			<textarea class="contactform" name="message" id="message" placeholder="Votre message"></textarea>
		</p>
		<input class="contactform btn_form" type="submit" value="Envoyer">
		</form>
	
{% endblock %}
